{% extends "base.html" %}

{% block title %}
Contact
{% endblock %}

{% block left %}
<form method="POST">
    {% csrf_token %}
    <div style="width: 350px; margin: auto">
        <label class="form-label mt-4">Your Name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name">

        <label class="form-label mt-4">Your E-mail</label>
        <input name="email" type="text" class="form-control" id="email" placeholder="Enter your e-mail">

        <label class="form-label mt-8">Message</label>
        <textarea name="message" type="text" class="form-control" id="message" placeholder="Message here"
            rows="10"></textarea>

        <button type="submit" id="submitBtn" class="btn btn-primary">Send It</button>
    </div>
</form>
{% endblock %}

{% block right %}
    
<div style="width: 350px; margin: auto; text-align: center;">
    <p class="mt-4">We will get back to your email as soon as possible! 📧</p>
    <p>Feel free to share suggestions, problems, or anything else you'd like! 🤔💡🐛</p>
</div>

{% endblock right %}